body{
    background-color: white;
    color: #555;
    font-size: 16;
    line-height: 1.6em;
    margin: 0;
    }

#clear{
    clear: both;
}

#main-header{
    background-color: cadetblue;
    color: #fff;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    padding: 5px;
    margin: 1%;
}

#navbar{
    background-color: #333;
    color: #fff;
    text-align: left;
}

#navbar ul{
    padding: 0%;
    list-style-type: none;
    text-align: center;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #f4f4f4;
    text-decoration: none;
    font-family: 'Aldrich', sans-serif;
    font-size: 16px;
    padding-left: 20px;
}

#navbar a:hover{
    color:yellow;
}


.container_table_1{
  /*  padding-left: 10px;*/
    margin:auto;
    margin-top: 5em;
    text-align: center;
}

#input_search{
   /* background-image: url('/css/searchicon.png'); /* Add a search icon to input */
   /* background-position: 10px 12px; /* Position the search icon */
   /* background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


#table_1{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    margin:auto
}

#table_1 td, #table_1 th{
    border: 1px solid #ddd;
    padding: 0em 3em 0em 3em;
}

#table_1 tr:nth-child(even){
    background-color: #f2f2f2;
}

#table_1 tr:hover{background-color: #ddd;}

#table_1 th{
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
 background-color: #333;
 color: white;
}

#table_1 td{
    text-align: left;
}

#table_1 a{
text-decoration: none;
color: #555;
}

#table_1 a:hover{
    color: #9e44ae;
}

#youtube-iframe-1{
    margin: 20px;
}

#container{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

#youtube-iframe-2{

}


#youtube-iframe-2-reference{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#youtube-iframe-2-reference ul{
    list-style-type: none;
}

#main-footer{
    background-color: #333;
    color: azure;
    text-align: center;
    padding: 0.001%;
    margin-top: 5px;
}

#enlaces{
    text-align: left;    
    margin-top: 20px;
}


#enlaces {
    margin-left: 40px;
    li

}

#enlaces a{
    display: block;
    text-decoration: none;
    color: #000
}


#preformatted_test{
    background-color: lightgray;
    color: black;
    padding: 1em 2em;
    align: left;
    margin: 10px 30px;
    line-height: normal;
}

.copy_cb{
    padding: 0;
    margin:0;
}

.fa-copy{
    color: white;
    float: right;
    margin-right: 1em;
}


.fa-copy:hover{
    color: #9e44ae;
}

.fa-copy:active{
    color:aqua;
}